.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
  padding:40px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: white;
}

.left-panel, .right-panel {
  padding: 20px;
  background-color: #424242;
  border-radius: 8px;
  height: 330px;
}

.right-panel {
  padding: 20px;
  background-color: #424242;
  border-radius: 8px;
  height: 330px;
}

.title {
  grid-column: 1 / -1; 
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.input, .button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.input {
  background-color: #555;
  color: white;
}

.button {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.input-row {
  display: flex;
  gap: 10px;
}

.caption-bar {
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

.video-player {
  width: 100px;
  height: 100px;
}
